@model DeleteManafactory
@{
    ViewData["Title"] = "Delete Manafactory";
}

<form asp-controller="Home" asp-action="Delete" method="POST">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row form-group">

        <div class="col-3">
            <label asp-for="ManufactoryId"></label>
        </div>

        <div class="col-9">
            <input asp-for="ManufactoryId" class="form-control" />
            <span asp-validation-for="ManufactoryId" class="text-danger"></span>
        </div>
    </div>
   

    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Delete</button>
            <button type="reset" class="btn btn-warning">Cancel</button>
        </div>
    </div>
</form>
